nav {
    background-color: #333;
    padding: 0.5em 0;
}

h3 {
    margin-top: 10%;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

    .nav-menu li {
        margin: 0 15px;
        text-align:center;
    }

    .nav-menu a {
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 10px 15px;
        transition: background-color 0.3s, color 0.3s;
    }

        .nav-menu a:hover {
            background-color: #555;
            color: #ffcc00;
            border-radius: 5px;
        }

#logoClothes {
    margin-top: 20%;
    margin-bottom: 10%;
}

#FirstPageFooter {
    display: inline-flex;
}

#CESymbol {
    position: absolute;
    left: 2%;
}

#FirstTitle {
    color: white;
    background-color: black;
    padding-left: 0.4%;
    padding-right: 0.4%;
}

#HomePage {
    text-align: center;
}

#StartTitle {
    background-color: #c8c4c4;
}

#FirstTitle {
    color: white;
    background-color: black;
    padding-left: 0.4%;
    padding-right: 0.4%;
}

#FirstUl li::before {
    content: "\25B6"
}

#SecondUl li::before {
    content: "\25B6"
}

#ThirdUl li::before {
    content: "\25B6"
}

.SecoundPage > hr {
    width: 80%;
}

.SecoundPage {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}

.ThirdPage {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
.ForthPage {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
.FifthPage {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
.FifthPage table td {
    border: solid black 1px;
    padding: 0;
    text-align: center;
}
.FifthPage tr:nth-child(odd){
    background-color:lightgrey;
}
.FifthPage table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 5%;
}
.SecoundPage table td {
    border: solid black 1px;
    padding: 0;
    text-align: start;
}

.SecoundPage table {
    border-collapse: collapse;
    width: 80%;
    margin-left: 5%;
}

div#SecoundPageFooter {
    text-align: center;
    font-size: 12px;
}

    div#SecoundPageFooter > hr {
        width: 80%;
    }


    div#SecoundPageFooter p:last-child {
        text-align: start;
    }

span#SecoundPageFooter {
    display: flex;
    flex-direction: row-reverse;
}
span#ThirdPageFooter {
    display: flex;
    flex-direction: row-reverse;
}
#end {
    width: 100%;
    border: none;
    height: 1px;
    background-color: black;
    margin-top: 10%;
}
#EndLine {
    width: 100%;
    border: none;
    height: 1px;
    background-color: black;
    margin-top: 10%;
}
#EndLine4 {
    width: 100%;
    border: none;
    height: 1px;
    background-color: black;
    margin-top: 10%;
}

#EndSecond {
    font-size: 12px;
}
#EndThird {
    font-size: 12px;
}
#EndForth{
    font-size:12px;
}
#BinLogo{
    border:solid Black 1px;
}
#ResicleLogo {
    border: solid Black 1px;
}
#BelowTheTable
{
    border:solid black 1px;
    margin-left:10%;
    margin-right:10%;
}